*
!/.gitignore

!/software_models/
!/software_models/dcqcn_rp/
!/software_models/dcqcn_rp/app_rate_timestamps.txt
!/software_models/dcqcn_rp/dcqcn_constants.py
!/software_models/dcqcn_rp/dcqcn_packet_input.py
!/software_models/dcqcn_rp/dcqcn_series_model.py
!/software_models/dcqcn_rp/dcqcn_wave.py
!/software_models/dcqcn_rp/RoCE_packet.py

!/software_models/Figures/
!/software_models/Figures/generated/

!/software_models/packet_inputs/
!/software_models/packet_inputs/generate_input_packets.py

!/software_models/scheduler_single_flow/
!/software_models/scheduler_single_flow/Rc_timestamps.txt
!/software_models/scheduler_single_flow/RoCE_packet.py
!/software_models/scheduler_single_flow/scheduler_single_flow_constants.py
!/software_models/scheduler_single_flow/scheduler_single_flow.py

!/software_models/scheduling_algorithm/
!/software_models/scheduling_algorithm/scheduler_constants.py
!/software_models/scheduling_algorithm/scheduler.py
!/software_models/scheduling_algorithm/scheduler_optimized.py

!/hardware_scheduler/
!/hardware_scheduler/init_flows_generator.py
!/hardware_scheduler/populate_ram.py

!/hardware_scheduler/rtl/
!/hardware_scheduler/rtl/Calendar.vhd
!/hardware_scheduler/rtl/CalendarCnt_mod.vhd
!/hardware_scheduler/rtl/CalendarCnt.vhd
!/hardware_scheduler/rtl/FlowInitMemory.vhd
!/hardware_scheduler/rtl/FlowLoader.vhd
!/hardware_scheduler/rtl/CalendarMain.vhd
!/hardware_scheduler/rtl/IPG_reciprocal_pkg.vhd
!/hardware_scheduler/rtl/Constants_pkg.vhd
!/hardware_scheduler/rtl/FlowArray_pkg.vhd
!/hardware_scheduler/rtl/Scheduler_pipeline.vhd

!/hardware_scheduler/sim/
!/hardware_scheduler/sim/tb_CalendarCnt.vhd
!/hardware_scheduler/sim/tb_Calendar.vhd
!/hardware_scheduler/sim/tb_FlowLoader.vhd
!/hardware_scheduler/sim/tb_CalendarMain.vhd
!/hardware_scheduler/sim/tb_Scheduler_pipeline.vhd

!/hardware_scheduler/mem/
!/hardware_scheduler/mem/Flow_mem.vhd
!/hardware_scheduler/mem/Rate_mem.vhd
!/hardware_scheduler/mem/Calendar_mem.vhd
!/hardware_scheduler/mem/Bram_init_pkg.vhd
!/hardware_scheduler/mem/tb_Bram.vhd