*
!/.gitignore

#-----------------------------------------------------------------------------

!/software_models/
!/software_models/dcqcn_rp/
!/software_models/dcqcn_rp/app_rate_timestamps.txt
!/software_models/dcqcn_rp/dcqcn_constants.py
!/software_models/dcqcn_rp/dcqcn_packet_input.py
!/software_models/dcqcn_rp/dcqcn_series_model.py
!/software_models/dcqcn_rp/dcqcn_wave.py
!/software_models/dcqcn_rp/RoCE_packet.py

!/software_models/packet_inputs/
!/software_models/packet_inputs/generate_input_packets.py

!/software_models/scheduler_single_flow/
!/software_models/scheduler_single_flow/Rc_timestamps.txt
!/software_models/scheduler_single_flow/RoCE_packet.py
!/software_models/scheduler_single_flow/scheduler_single_flow_constants.py
!/software_models/scheduler_single_flow/scheduler_single_flow.py

!/software_models/scheduling_algorithm/
!/software_models/scheduling_algorithm/scheduler_constants.py
!/software_models/scheduling_algorithm/scheduler.py
!/software_models/scheduling_algorithm/scheduler_optimized.py

#-----------------------------------------------------------------------------

#-----------------------------------------------------------------------------

!/hardware_models/
!/hardware_models/Modelsim/
!/hardware_models/Modelsim/RP/
!/hardware_models/Modelsim/RP/mem/*.vhd
!/hardware_models/Modelsim/RP/rtl/*.vhd
!/hardware_models/Modelsim/RP/sim/*.vhd

!/hardware_models/Modelsim/Scheduler/
!/hardware_models/Modelsim/Scheduler/mem/*.vhd
!/hardware_models/Modelsim/Scheduler/rtl/*.vhd
!/hardware_models/Modelsim/Scheduler/sim/*.vhd

!/hardware_models/Modelsim/Wrapper/
!/hardware_models/Modelsim/Wrapper/mem/*.vhd
!/hardware_models/Modelsim/Wrapper/rtl/*.vhd
!/hardware_models/Modelsim/Wrapper/sim/*.vhd

!/hardware_models/Quartus/
!/hardware_models/Quartus/RP/*.vhd
!/hardware_models/Quartus/RP/*.qip
!/hardware_models/Quartus/RP/*.cmp
!/hardware_models/Quartus/RP/*.sdc
!/hardware_models/Quartus/RP/*.qsf
!/hardware_models/Quartus/RP/*.qpf

!/hardware_models/Quartus/Scheduler/*.vhd
!/hardware_models/Quartus/Scheduler/*.qip
!/hardware_models/Quartus/Scheduler/*.cmp
!/hardware_models/Quartus/Scheduler/*.qar

!/hardware_models/Quartus/Wrapper/rtl/*.vhd

#!/hardware_models/**
#hardware_models/Quartus/RP/Quartus_project/db/RP_module.quiproj.72672.rdr.flock